.entry-border { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/entry-border.png', sizingMethod='image'); }
#travel .left-half li { height: 62px; }
#travel .left-half .cow { height: 34px; }
#schedule .middle-col .col-t { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/col-times-t.png', sizingMethod='image'); }
#schedule .middle-col .col-b { background-image: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/col-times-b.png', sizingMethod='image'); }
#schedule .entry-body { left: 0; }