@font-face {
    font-family: 'ClarendonBold';
    src: url('fonts/clarendon_bold_bt-webfont.eot');
    src: url('fonts/clarendon_bold_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clarendon_bold_bt-webfont.woff') format('woff'),
         url('fonts/clarendon_bold_bt-webfont.ttf') format('truetype'),
         url('fonts/clarendon_bold_bt-webfont.svg#ClarendonBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ClarendonBTRoman';
    src: url('fonts/clarendon_bt_roman-webfont.eot');
    src: url('fonts/clarendon_bt_roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clarendon_bt_roman-webfont.woff') format('woff'),
         url('fonts/clarendon_bt_roman-webfont.ttf') format('truetype'),
         url('fonts/clarendon_bt_roman-webfont.svg#ClarendonBTRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ClarendonCnBTBold';
    src: url('fonts/clarendon_cn_bt_bold-webfont.eot');
    src: url('fonts/clarendon_cn_bt_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clarendon_cn_bt_bold-webfont.woff') format('woff'),
         url('fonts/clarendon_cn_bt_bold-webfont.ttf') format('truetype'),
         url('fonts/clarendon_cn_bt_bold-webfont.svg#ClarendonCnBTBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.clarendon-b { font-family: 'ClarendonBold', Arial, Helvetica, Sans-serif; }
.clarendon-r { font-family: 'ClarendonBTRoman', Arial, Helvetica, Sans-serif; }
.clarendon-cn { font-family: 'ClarendonCnBTBold', Arial, Helvetica, Sans-serif; }
.droid-serif { font-family: 'Droid Serif', Arial, Helvetica, Sans-serif; }

* { margin: 0; padding: 0; outline:0; }

body {
    font-size: 12px;
    line-height: 1.3;
    font-family: 'Droid Sans', Arial, Helvetica, Sans-Serif;
    color: #333;
    background: #e2e2e2 url(images/body.jpg) 50% 0 repeat;
}

a { color: #a31c2f; text-decoration: underline; cursor:pointer; }
a:hover { text-decoration: none; }
a img { border: 0; }

h1#logo { margin: 0 0 44px; }
h1#logo a { display: block; width: 350px; height: 85px; margin: 0 auto; }

input, textarea, select { font-size: 12px; font-family: 'Droid Sans', Arial, Helvetica, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.shell { width: 950px; margin: 0 auto; padding: 0 15px; }

#header { background: url(images/header.jpg) 50% 29px no-repeat; height: 228px; padding: 29px 0 0; }

#welcome-button { font-size: 18px; color: #fff; text-transform: uppercase; line-height: 26px; text-align: center; padding: 0 0 4px; }
#welcome-button a { color: #fff; text-decoration: none; }

#left-nav { width: 435px; list-style: none; text-align: right; font-size: 18px; line-height: 20px; }
#left-nav li { padding: 0 0 1px; height: 20px; }
#left-nav a { color: #40464a; text-decoration: none; text-shadow: 1px 1px 1px #fff; }
#left-nav a:hover { color: #771220; }
#left-nav .first { padding-right: 48px; }
#left-nav .second { padding-right: 24px; }

#right-nav { width: 432px; list-style: none; font-size: 18px; line-height: 20px; }
#right-nav li { padding: 0 0 1px; height: 20px; }
#right-nav a { color: #40464a; text-decoration: none; text-shadow: 1px 1px 1px #fff; }
#right-nav a:hover { color: #771220; }
#right-nav .first { padding-left: 48px; }
#right-nav .second { padding-left: 24px; }

#main { padding: 0 0 146px; }

#footer { background: url(images/footer.jpg) 50% 0 repeat-x; }
#footer .shell { height: 485px; position: relative; }
#footer .back { font-size: 18px; color: #050908; text-decoration: none; width: 110px; position: absolute; bottom: 263px; left: 38px; }
#footer .back:hover { text-decoration: underline; }
#footer .back .cow { background: url(images/icons.png) -142px -58px no-repeat; width: 142px; height: 42px; position: absolute; top: -34px; left: -8px; }

.section { }
.section-entry { width: 870px; padding: 0 40px; }
.section-head { background: url(images/section-head.png); width: 390px; height: 104px; font-size: 36px; line-height: 104px; text-align: center; text-shadow: 1px 1px 1px #fff; color: #3e4348; text-transform: uppercase; padding: 6px 0 0; margin: 0 auto 6px; }

.entry-border { background: url(images/entry-border.png); width: 870px; height: 2px; }
.entry-body { background: url(images/entry-body.png) repeat-y; width: 870px; overflow: hidden; }
.entry-body .left-half,
.entry-body .right-half { width: 430px; }

#welcome { }
#welcome .section-entry { background: url(images/bg1.jpg) 50% 2px no-repeat; height: 711px; position: relative; }
#welcome .entry-body p { font-size: 16px; line-height: 24px; color: #333; font-weight: bold; padding: 0 15px; text-align: center; }
#welcome .left-half { padding-top: 22px; }
#welcome .right-half { width: 405px; padding: 11px 0; }
#welcome .follow-link,
#welcome .dates-info { font-family: Georgia, Times, "Times New Roman", Serif; color: #690012; font-size: 13px; font-weight: bold; font-style: italic; text-align: center; position: absolute; }
#welcome .follow-link { width: 110px; line-height: 15px; text-decoration: none; bottom: 180px; right: 405px; }
#welcome .follow-link:hover { text-decoration: underline; }
#welcome .dates-info { width: 200px; line-height: 17px; bottom: 158px; right: 101px; }

#travel { background: url(images/bg1.jpg) 50% -709px no-repeat; }
#travel .section-head { margin-bottom: 8px; }
#travel .section-entry { background: url(images/bg2.jpg) 50% 121px no-repeat; height: 832px; position: relative; margin-top: -2px; }
#travel .entry-body { padding: 16px 0; }
#travel .entry-body ul { list-style: none; font-size: 13px; line-height: 19px; color: #333; font-weight: bold; }
#travel .entry-body li { position: relative; }
#travel .entry-body .icon { background-image: url(images/icons.png); position: absolute; }
#travel .left-half ul { padding-left: 110px; }
#travel .left-half li { min-height: 62px; width: 320px; }
#travel .left-half li ul { font-weight: normal; font-size: 12px; line-height: 17px; padding: 0 0 22px 15px; }
#travel .left-half li ul li { padding-left: 7px; background: url(images/li.png) 0 8px no-repeat; min-height: 0; width: auto; }
#travel .right-half ul { padding-left: 72px; }
#travel .right-half li { width: 358px; padding: 0 0 20px; }
#travel .right-half li .image { background: #fdfdfd; padding: 3px; border: 1px solid #d3d3d3; margin-left: 20px; }
#travel .right-half li span { font-size: 12px; line-height: 17px; font-weight: normal; display: block; }
#travel .right-half .image img { display: block; border: 1px solid #d3d3d3; }
#travel .right-half p.right { width: 176px; }
#travel .airplane .icon { background-position: 0 -60px; width: 40px; height: 40px; top: 10px; left: -62px; }
#travel .car .icon { background-position: -91px -43px; width: 38px; height: 16px; top: 2px; left: -61px; }
#travel .train .icon { background-position: -147px -5px; width: 72px; height: 30px; top: -5px; left: -78px; }
#travel .left-half .cow { min-height: 34px; }
#travel .cow .icon { background-position: -91px -70px; width: 40px; height: 26px; top: 1px; left: -62px; }
#travel .location .icon { background-position: -258px -7px; width: 22px; height: 37px; top: 1px; left: -60px; }
#travel .fire .icon { background-position: -50px -3px; width: 38px; height: 31px; top: -7px; left: -58px; }
#travel .random-fact { font-family: Georgia, Times, "Times New Roman", Serif; color: #690012; font-size: 13px; line-height: 17px; font-weight: bold; font-style: italic; text-align: center; position: absolute; width: 195px; bottom: 243px; left: 292px; }

#registration { background: url(images/bg2.jpg) 50% -712px no-repeat; }
#registration .section-head { margin-bottom: 8px; }
#registration .section-entry { background: url(images/bg3.jpg) 50% 262px no-repeat; height: 691px; margin-top: -2px; position: relative; }
#registration .entry-body { padding-top: 22px; height: 238px; }
#registration .entry-body .icon { background-image: url(images/icons.png); position: absolute; }
#registration .entry-body ul { list-style: none; font-size: 13px; line-height: 20px; color: #333; font-weight: bold; }
#registration .entry-body li { padding-right: 10px; position: relative; color: #c9c9c9; }
#registration .entry-body li strong { display: block; font-size: 14px; color: #333; }
#registration .left-half ul { padding-left: 98px; }
#registration .left-half li { width: 322px; }
#registration .right-half ul { padding-left: 80px; }
#registration .right-half li { width: 340px; padding-bottom: 48px; }
#registration .bird .icon { background-position: -96px -3px; width: 44px; height: 32px; top: -2px; left: -67px; }
#registration .bird strong, #registration .bird span{ text-decoration: line-through;}
#registration .tickets .icon { background-position: 0 -3px; width: 45px; height: 45px; top: 0; left: -67px; }
#registration .hourglass .icon { background-position: -51px -45px; width: 22px; height: 49px; top: -6px; left: -58px; }
#registration .button { margin-top: 5px; }
/*#registration .price { background-image: url(images/prices.png); width: 38px; height: 18px; display: inline-block; position: relative; margin-bottom: -20px; top: -14px; }*/
#registration .price { width: 38px; height: 18px; display: inline-block; position: relative; margin-bottom: -20px; color: #777; font-size: 15px; }
#registration .general { background-position: 0px -18px }
#registration .last-minute { background-position: 0px -36px }

#subscription-form { width: 430px; height: 30px; position: absolute; bottom: 76px; left: 148px; }
#subscription-form label { font-size: 18px; line-height: 28px; color: #3e4348; padding-right: 5px; }
#subscription-form .submit { background: transparent; border: none; width: 102px; height: 28px; font-size: 18px; color: #a31c2f; cursor: pointer; text-decoration: underline; }
#subscription-form .submit:hover { text-decoration: none; }

#sponsors { background: url(images/bg3.jpg) 50% -429px no-repeat; }
#sponsors .section-entry { background: url(images/bg4.jpg) 50% 396px no-repeat; height: 700px; }
#sponsors .entry-body { padding: 20px 0; }
#sponsors .left-half { text-align: center; }
#sponsors .right-half { text-align: center; }
#sponsors .left-half img { margin: 0 0 20px 108px; }
#sponsors .right-half img { margin-left: 30px; }
#sponsors .row-sponsors { clear: both; background: url(images/row-sponsors.png); width: 600px; height: 70px; padding: 7px 0 0; margin: 0 auto 30px; }
#sponsors .row-sponsors p { font-size: 24px; line-height: 28px; text-align: center; color: #333; }

#speakers { background: url(images/bg4.jpg) 50% -305px no-repeat; position: relative; margin-bottom: -118px; }
#speakers h3 { font-size: 18px; color: #a31c2f; }
#speakers .section-entry { background: url(images/bg5.jpg) 50% bottom no-repeat; padding-bottom: 398px; }
#speakers .image { padding-left: 29px; padding-top: 5px; }
#speakers .entry { width: 305px; padding-right: 15px; }
#speakers .entry p { font-size: 12px; line-height: 17px; padding: 0 0 8px; }
#speakers .entry p strong { font-size: 13px; color: #a31c2f; }
#speakers .entry p a { font-weight: bold; }
#speakers .entry-body { padding: 18px 0; }
#speakers .entry-body ul { list-style: none; }
#speakers .entry-body li { height: 100%; overflow: hidden; padding: 0 0 8px; }
#speakers #top-bios { padding-bottom: 3px; }
#speakers #top-bios .entry { width: 240px; padding-right: 5px; }
#speakers #top-bios .image img { display: block; margin-bottom: 6px; }

#speakers .call-for-proposals p { font-size: 24px; line-height: 28px; text-align: center; color: #333; }

#schedule { position: relative; }
#schedule h3 { font-size: 24px; color: #a31c2f; padding: 0 0 8px; }
#schedule .section-entry { background: url(images/bg6.jpg) 50% bottom no-repeat; padding-bottom: 98px; }
#schedule .entry-body { padding: 20px 40px; position: relative; margin: 0 -40px; background-position: center; }
#schedule .entry-body ul { list-style: none; line-height: 24px; }
#schedule .left-half { width: 370px; padding-right: 16px; text-align: right; }
#schedule .left-half ul { padding-right: 12px; font-size: 14px; line-height: 24px; font-weight: bold; }
#schedule .left-half li { white-space: nowrap; }
#schedule .left-half li .pull { position: relative; left: -30px; }
#schedule .left-half li span { font-weight: normal; }
#schedule .right-half { width: 372px; }
#schedule .right-half ul { padding-left: 12px; font-size: 14px; line-height: 24px; font-weight: bold; }
#schedule .right-half li { white-space: nowrap; }
#schedule .right-half li span { font-weight: normal; }
#schedule .middle-col { width: 97px; padding: 18px 0; text-align: center; }
#schedule .middle-col .col-t { background: url(images/col-times-t.png); width: 97px; height: 44px; }
#schedule .middle-col .col-m { background: url(images/col-times-m.png); width: 97px; }
#schedule .middle-col .col-b { background: url(images/col-times-b.png); width: 97px; height: 46px; }
#schedule .middle-col .col-i { width: 96px; margin: -23px 0 -10px; position: relative; }
#schedule .middle-col ul { font-size: 16px; color: #a31c2f; }
#schedule .middle-col li span { display: block; }

#organizers { background: url(images/bg7.jpg) 50% 0 no-repeat; height: 463px; position: relative; padding: 0 20px; margin: 0 -20px; }
#organizers a { font-size: 18px; line-height: 1.3; position: absolute; text-decoration: none; text-align: center; }
#organizers a strong { font-size: 23px; color: #3e4348; display: block; }
#organizers .organizer1 { width: 200px; padding-left: 62px; top: 212px; left: 1px; }
#organizers .organizer2 { width: 232px; padding-left: 52px; top: 402px; left: 136px; }
#organizers .organizer3 { width: 200px; padding-left: 62px; top: 312px; left: 335px; }
#organizers .organizer4 { width: 200px; padding-left: 62px; top: 266px; right: 28px; }
#organizers .organizer5 { width: 200px; padding-left: 62px; top: 379px; right: 128px; }

.blink { background: #fff; border: 1px solid #b5b5b5; font-size: 14px; line-height: 16px; height: 16px; padding: 5px; width: 173px; box-shadow: 3px 3px 3px #e8e8e8 inset, 1px 1px 1px #fff; }

.button { background: url(images/button.png); width: 130px; height: 30px; padding: 0 2px 2px 0; color: #fff; font-size: 16px; line-height: 30px; font-weight: bold; text-align: center; text-shadow: 0 1px 0 #6a932b; text-decoration: none; }
.button:hover { background-position: 0 -32px; }
.disabled, .disabled:hover { background-position: 0 -64px; cursor: default; text-shadow: 0 1px 0 #b9b9b9; }

.red { color: #a31c2f; }

.subscribe-button { background: url(images/subscribe-button.png); width: 400px; height: 42px; display: block; padding: 0 0 0 50px; margin: 0 auto; font-size: 24px; line-height: 42px; clear: both; }