---
filter: 
  - haml
---

#nav.container
  %ul
    %li
      - if current == 'home'
        %a{:href => '/', :class => 'current'} Home
      - else
        %a{:href => '/'} Home
    %li
      %a{:target => '_blank', :href => 'http://rubymidwest.stagehq.com/events/219/booking/new'} Registration
    %li
      - if current == 'travel'
        %a{:href => '/travel-and-venue.html', :class => 'current'} Travel & Venue
      - else
        %a{:href => '/travel-and-venue.html'} Travel & Venue
    %li
      - if current == 'organizers'
        %a{:href => '/organizers.html', :class => 'current'} Organizers
      - else
        %a{:href => '/organizers.html'} Organizers


    -# %li
      -# %a{:href => '/location.html'} Location
    -# %li
      -# %a{:href => '/program.html'} Program
    -# %li
      -# %a{:href => '/about.html'} About
    -# %li
      -# %a{:href => '/sponsors.html'} Sponsors
