---
filter: 
  - haml
---

#right-col.col-1
  #speakers.section
    %h3 Speakers
    #image_list
    .content
      .loader
        %p 
          We're looking for speakers. 
          %a{:class => 'submit-proposal', :href => 'http://spreadsheets.google.com/viewform?formkey=dG1ZTUYyVW5sRFN3U0FFQy1ZaFQwMGc6MA', :rel => 'facebox'} Submit a proposal!
      .speaker
        %img.mugshot{:src => '/images/speakers/you.png', :alt => 'Speak at Ruby Midwest'}
          .desc
            %h5.name YOU?
            %p 
              You should speak at Ruby Midwest. Seriously.
              %a{:href => '#'} Transmorph yourself into one.
      .first

  #sponsors.section
    %h3 Sponsors
    %p Interested in sponsoring Ruby Midwest? Check out the sponsorship package here and get in touch.
    -# %img{:src => '/images/sponsors/engine-yard.png', :alt => 'Engine Yard'}
    -# %img{:src => '/images/sponsors/engine-yard.png', :alt => 'Engine Yard'}
    -# %img{:src => '/images/sponsors/engine-yard.png', :alt => 'Engine Yard'}
    -# %img{:src => '/images/sponsors/engine-yard.png', :alt => 'Engine Yard'}

  .col.w215.first
    #info
      %h3 Email Updates
      %form
        %input{:type => 'email', :id => 'email', :placeholder => 'email'}
        %input{:type => 'submit', :value => 'Submit', :id => 'submit'}
 
  .col.w215
    #info
      %h3 Twitter
      %a{ :href => "http://www.twitter.com/rubymidwest" }
        %img{ :src => "http://twitter-badges.s3.amazonaws.com/t_small-b.png", :alt => "Follow rubmidwest on Twitter" }
        Follow @rubymidwest
