---
filter: 
  - haml
---

#right-col.col-1
  #speakers.section
    %h3 Speakers
    #image_list
    .content
      .loader
        %p 
          We're looking for speakers. 
          %a{:class => 'submit-proposal', :href => 'http://spreadsheets.google.com/viewform?formkey=dG1ZTUYyVW5sRFN3U0FFQy1ZaFQwMGc6MA', :rel => 'facebox'} Submit a proposal!
      -# .speaker
        -# %img.mugshot{:src => '/images/speakers/yahuda-katz.jpg', :alt => 'Yahuda Katz'}
        -# .desc
          -# %h5.name Yahuda Katz
          -# %p
      .speaker
        %img.mugshot{:src => '/images/speakers/you.png', :alt => 'Speak at Ruby Midwest'}
          .desc
            %h5.name YOU?
            %p 
              You should speak at Ruby Midwest. Seriously.
              %a{:class => 'submit-proposal', :href => 'http://spreadsheets.google.com/viewform?formkey=dG1ZTUYyVW5sRFN3U0FFQy1ZaFQwMGc6MA', :rel => 'facebox'} Transmorph yourself into one.
      .first

  #sponsors.section
    %h3 Sponsors
    %p 
      Interested in sponsoring Ruby Midwest? Check out the sponsorship package 
      %a{:href=>'/Ruby_Midwest_Sponsorship.pdf'} here 
      and 
      %a{:href=>'mailto:sponsors@rubymidwest.com'} get in touch.
    -# %img{:src => '/images/sponsors/engine-yard.png', :alt => 'Engine Yard'}
    -# %img{:src => '/images/sponsors/engine-yard.png', :alt => 'Engine Yard'}
    -# %img{:src => '/images/sponsors/engine-yard.png', :alt => 'Engine Yard'}
    -# %img{:src => '/images/sponsors/engine-yard.png', :alt => 'Engine Yard'}

  .col.w215.first
    #info
      %h3 Email Updates
      %form{:action => 'http://ntrackerstaging.nurturehq.com/activities/form_response', :method => 'get'}
        %input{:type => 'email', :id => 'email', :placeholder => 'email', :name => 'frm'}
        %input{:type => 'hidden', :name => 'l', :value => 'http://www.rubymidwest.com/email_confirm.html'}
        %input{:type => 'submit', :value => 'Submit', :id => 'submit'}
 
  .col.w215
    #info
      %h3 Twitter
      %a{ :href => "http://www.twitter.com/rubymidwest" }
        %img{ :src => "http://twitter-badges.s3.amazonaws.com/t_small-b.png", :alt => "Follow rubmidwest on Twitter" }
        Follow 
        %span.username @rubymidwest
