---
filter: 
  - haml
---

#right-col.col-1
  #speakers.section
    %h3 Keynote Speakers
    #image_list
    .content
      .loader
        %p 
          Check out the complete speaker list
          %a{:href => '/speakers.html'}
            here!
      .speaker
        %img.mugshot{:src => '/images/speakers/yehuda-keynote.jpg', :alt => 'Yehuda Katz'}
        .desc
          %h5.name Yehuda Katz
          %p
            Yehuda Katz is currently employed by
            %a{ :href => "http://www.engineyard.com/" }
              Engine Yard
            , and works full time as a Core Team Member on the Rails project. He is the co-author of
            %a{ :href => "http://www.manning.com/affiliate/idevaffiliate.php?id=485_93" }
              jQuery in Action
            and the upcoming
            %a{ :href => "http://www.manning.com/affiliate/idevaffiliate.php?id=485_145" }
              Rails 3 in Action
            , and is a contributor to
            %a{ :href => "http://www.manning.com/affiliate/idevaffiliate.php?id=485_96" }
              Ruby in Practice
            \.
                
            He spends most of his time hacking on Rails, but also on other Ruby community projects, like
            %a{ :href => "http://rubini.us/" }
              Rubinius
            and
            %a{ :href => "http://datamapper.org/" }
              Datamapper
            \. And when the solution doesn't yet exist, he'll try his hand at creating one - as such, he's also created projects like
            %a{ :href => "http://github.com/wycats/thor/" }
              Thor
            and
            %a{ :href => "http://github.com/sam/do" }
              DO.rb
            \.
            
      .speaker
        %img.mugshot{:src => '/images/speakers/chris-keynote.jpg', :alt => 'Chris Wanstrath'}
          .desc
            %h5.name Chris Wanstrath
            %p 
              Chris Wanstrath is a George R R Martin fan who lives in San Francisco and cofounded GitHub. He's an active open source developer and speaker whose projects and talks can be found at
              %a{ :href => "http://chriswanstrath.com" }      
      -# .speaker
        -# %img.mugshot{:src => '/images/speakers/you.png', :alt => 'Speak at Ruby Midwest'}
          -# .desc
            -# %h5.name YOU?
            -# %p 
              -# You should speak at Ruby Midwest. Seriously.
              -# %a{:class => 'you-submit-proposal', :href => 'http://spreadsheets.google.com/viewform?formkey=dG1ZTUYyVW5sRFN3U0FFQy1ZaFQwMGc6MA', :rel => 'facebox'} Submit a proposal!
      .first

  #sponsors.section
    %h3 Sponsors
    %a{:href => 'http://www.engineyard.com'}
      %img{:src => '/images/sponsors/engine-yard.png', :alt => 'Engine Yard', :id => 'engine_yard_logo'}
    %a{:href => 'http://www.intridea.com'}
      %img{:src => '/images/sponsors/intridea-square-logo-125.png', :alt => 'Intridea'}
    %a{:href => 'http://www.newrelic.com'}
      %img{:src => '/images/sponsors/NewRelic-logo.png', :alt => 'New Relic'}
    %a{:href => 'http://integrumtech.com/'}
      %img{:src => '/images/sponsors/integrum_logo.png', :alt => 'Integrum', :width => '200'}
    %a{:href => 'http://www.chargify.com'}
      %img{:src => '/images/sponsors/chargify-bull.png', :alt => 'Chargify'}
    %p 
      Interested in sponsoring Ruby Midwest? Check out the sponsorship package 
      %a{:href=>'/Ruby_Midwest_Sponsorship.pdf'} here 
      and 
      %a{:href=>'mailto:sponsors@rubymidwest.com'} get in touch.

  .col.w215.first
    #info
      %h3 Email Updates
      %form{:action => 'http://ntrackerstaging.nurturehq.com/activities/form_response', :method => 'get'}
        %input{:type => 'email', :id => 'email', :placeholder => 'email', :name => 'frm'}
        %input{:type => 'hidden', :name => 'l', :value => 'http://www.rubymidwest.com/email_confirm.html'}
        %input{:type => 'submit', :value => 'Submit', :id => 'submit'}
 
  .col.w215
    #info
      %h3 Twitter
      %a{ :href => "http://www.twitter.com/rubymidwest" }
        %img{ :src => "http://twitter-badges.s3.amazonaws.com/t_small-b.png", :alt => "Follow rubmidwest on Twitter" }
        Follow 
        %span.username @rubymidwest
