---
filter: 
  - haml
---

#right-col.col-1
  #speakers.section
    %h3 Speakers
    #image_list
    .content
      .loader
        %h5.name YOU?
        %p 
          You should speak at Ruby Midwest. Seriously.
          %a{:class => 'you-submit-proposal', :href => 'http://spreadsheets.google.com/viewform?formkey=dG1ZTUYyVW5sRFN3U0FFQy1ZaFQwMGc6MA', :rel => 'facebox'} Submit a proposal!
      .speaker
        %img.mugshot{:src => '/images/speakers/yahuda-katz.jpg', :alt => 'Yehuda Katz'}
        .desc
          %h5.name Yehuda Katz
          %p
            Yehuda Katz is currently employed by
            %a{ :href => "http://www.engineyard.com/" }
              Engine Yard
            , and works full time as a Core Team Member on the Rails project. He is the co-author of
            %a{ :href => "http://www.manning.com/affiliate/idevaffiliate.php?id=485_93" }
              jQuery in Action
            and the upcoming
            %a{ :href => "http://www.manning.com/affiliate/idevaffiliate.php?id=485_145" }
              Rails 3 in Action
            , and is a contributor to
            %a{ :href => "http://www.manning.com/affiliate/idevaffiliate.php?id=485_96" }
              Ruby in Practice
            \.
                
            He spends most of his time hacking on Rails, but also on other Ruby community projects, like
            %a{ :href => "http://rubini.us/" }
              Rubinius
            and
            %a{ :href => "http://datamapper.org/" }
              Datamapper
            \. And when the solution doesn't yet exist, he'll try his hand at creating one - as such, he's also created projects like
            %a{ :href => "http://github.com/wycats/thor/" }
              Thor
            and
            %a{ :href => "http://github.com/sam/do" }
              DO.rb
            \.
            
      .speaker
        %img.mugshot{:src => '/images/speakers/charles-nutter.jpg', :alt => 'Charles Oliver Nutter'}
          .desc
            %h5.name Charles Oliver Nutter
            %p 
              Charles Oliver Nutter has been programming most of his life, as a Java developer for the past decade and as a 
              %a{:href => 'http://jruby.org'} JRuby 
              developer for over four years. He currently works at 
              %a{:href => 'http://www.engineyard.com'} Engine Yard 
              and co-leads the JRuby project, an effort to bring the beauty of Ruby and the power of the JVM together. Charles believes in open source and open standards and hopes his efforts on JRuby and other languages will ensure the JVM remains the preferred open-source managed runtime for many years to come. Charles blogs at 
              %a{:href => 'http://blog.headius.com'} blog.headius.com 
              and tweets as 
              %a{:href => 'http://twitter.com/headius'} "headius" 
              on Twitter.
      .speaker
        %img.mugshot{:src => '/images/speakers/you.png', :alt => 'Speak at Ruby Midwest'}
          .desc
            %h5.name YOU?
            %p 
              You should speak at Ruby Midwest. Seriously.
              %a{:class => 'you-submit-proposal', :href => 'http://spreadsheets.google.com/viewform?formkey=dG1ZTUYyVW5sRFN3U0FFQy1ZaFQwMGc6MA', :rel => 'facebox'} Submit a proposal!
      .first

  #sponsors.section
    %h3 Sponsors
    %a{:href => 'http://www.engineyard.com'}
      %img{:src => '/images/sponsors/engine-yard.png', :alt => 'Engine Yard'}
    %a{:href => 'http://www.newrelic.com'}
      %img{:src => '/images/sponsors/NewRelic-logo.png', :alt => 'New Relic'}
    %a{:href => 'http://www.chargify.com'}
      %img{:src => '/images/sponsors/chargify-bull.png', :alt => 'Chargify'}
    %p 
      Interested in sponsoring Ruby Midwest? Check out the sponsorship package 
      %a{:href=>'/Ruby_Midwest_Sponsorship.pdf'} here 
      and 
      %a{:href=>'mailto:sponsors@rubymidwest.com'} get in touch.
    -# %img{:src => '/images/sponsors/engine-yard.png', :alt => 'Engine Yard'}
    -# %img{:src => '/images/sponsors/engine-yard.png', :alt => 'Engine Yard'}

  .col.w215.first
    #info
      %h3 Email Updates
      %form{:action => 'http://ntrackerstaging.nurturehq.com/activities/form_response', :method => 'get'}
        %input{:type => 'email', :id => 'email', :placeholder => 'email', :name => 'frm'}
        %input{:type => 'hidden', :name => 'l', :value => 'http://www.rubymidwest.com/email_confirm.html'}
        %input{:type => 'submit', :value => 'Submit', :id => 'submit'}
 
  .col.w215
    #info
      %h3 Twitter
      %a{ :href => "http://www.twitter.com/rubymidwest" }
        %img{ :src => "http://twitter-badges.s3.amazonaws.com/t_small-b.png", :alt => "Follow rubmidwest on Twitter" }
        Follow 
        %span.username @rubymidwest
