---
title:       Ruby Midwest Conference / July 16-17, 2010 / Kansas City, MO
created_at:  2008-08-02 14:06:40.000000 -06:00
filter:
  - erb
  - haml
---
#left-col.col-1.first
  %h2 We'll keep you posted!

= render :partial => "right_bar"

.first

