---
title:       Ruby Midwest Conference / July 16-17, 2010 / Kansas City, MO
created_at:  2008-08-02 14:06:40.000000 -06:00
filter:
  - erb
  - haml
---
#left-col.col-1.first
  #welcome
    %h2 Ruby Midwest Conference 2010
    %p Right in the middle of <del>nowhere</del> everything.  Kansas City's growing Ruby community is excited to host our first regional conference!
    %p Ruby Midwest is a <b>two day, single track conference</b> focused on the joy and productivity of Ruby, Rails, & JRuby.
  #location
    %h4 University of Missouri, Kansas City, Pierson Auditorium
    %h3
      5100 Rockhill Rd.
      %br
      Kansas City, MO 64110

    %iframe{ :scrolling => "no", :marginheight => "0", :marginwidth => "0", :src => "http://www.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=5000+Holmes,+Kansas+City,+Missouri-64110&amp;sll=37.0625,-95.677068&amp;sspn=53.167773,78.75&amp;ie=UTF8&amp;hq=&amp;hnear=5000+Holmes+St,+Kansas+City,+Jackson,+Missouri+64110&amp;ll=39.03732,-94.575977&amp;spn=0.012,0.036993&amp;z=14&amp;output=embed", :frameborder => "0", :height => "180", :width => "430" }
    %br
    %small
      %a{ :href => "http://www.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=5000+Holmes,+Kansas+City,+Missouri-64110&amp;sll=37.0625,-95.677068&amp;sspn=53.167773,78.75&amp;ie=UTF8&amp;hq=&amp;hnear=5000+Holmes+St,+Kansas+City,+Jackson,+Missouri+64110&amp;ll=39.03732,-94.575977&amp;spn=0.012,0.036993&amp;z=14", :style => "color:#0000FF;text-align:left" }
        View Larger Map




#right-col.col-1
  %h2 Speakers
  %p We're looking for...
  -# .col.w215.first
    -# %h2 Speakers
    -# %ul#speakers
      -# %li
        -# %h4
          -# %a{:href => '#'} John Doe
        -# %p John is the topmost technology master
      -# %li
        -# %h4
          -# %a{:href => '#'} Frank Whosit
        -# %p Basically John's assistant
  -# .col.w215#agenda
    -# %h2 Agenda
    -# %table
      -# %tr
        -# %td{:colspan => '2'}
          -# %h5 July 26, 2010
        -# %tr
          -# %td
            -# %span.time 12:00 pm
          -# %td
            -# %span Activities
          -# %tr
            -# %td
              -# %span.time 1:00 pm
            -# %td
              -# %span More Activities
          -# %tr
            -# %td
              -# %span.time 2:30 pm
            -# %td
              -# %span Talks
  .first
  #info.first
    %h3 Email Updates
    %form
      %input{:type => 'email', :id => 'email', :placeholder => 'email'}
      %input{:type => 'submit', :value => 'Submit', :id => 'submit'}

.first
