---
title:       Ruby Midwest Conference / October 6-8, 2011 / Kansas City, MO
created_at:  2008-08-02 14:06:40.000000 -06:00
filter:
  - erb
  - haml
---
-# = render :partial => "navigation", :locals => {:current => 'home'}

#content.container
  #single-col{:style => 'padding-top:2.5em;padding-bottom:10em;'}

    %h1.center October 6-8, 2011
    %br
    %h3.center Keep In Touch
    %p.center
      %a{:href => 'http://twitter.com/RubyMidwest'}
        @RubyMidwest
      %br
      %a{:href => 'mailto:organizers@rubymidwest.com'}
        organizers@rubymidwest.com
    %br
    %h3.center Sponsors
    %p.center 
      Interested in sponsoring Ruby Midwest? 
      %br
      Check out the sponsorship package 
      %a{:href=>'/Ruby_Midwest_Sponsorship.pdf'} here 
      and 
      %a{:href=>'mailto:sponsors@rubymidwest.com'} get in touch.
