---
title:       Ruby Midwest Conference / July 16-17, 2010 / Kansas City, MO
created_at:  2008-08-02 14:06:40.000000 -06:00
filter:
  - erb
  - haml
---
= render :partial => "navigation", :locals => {:current => 'organizers'}

#content.container
  #left-col.col-1.first

    .organizer
      %img{:src => 'http://a3.twimg.com/profile_images/514079549/2009-10-30_Steven.Chau-7_bigger.jpg'}
      %div
        %h3 Steven Chau
        %a{:href=>'http://www.twitter.com/whereisciao'} @whereisciao
    .organizer
      %img{:src => '/images/shashank.jpg'}
      %div
        %h3 Shashank Date
        %a{:href=>'http://www.twitter.com/shanko'} @shanko
    .organizer
      %img{:src => 'http://a3.twimg.com/profile_images/280858237/ryan_bigger.jpg'}
      %div
        %h3 Ryan Felton
        %a{:href=>'http://www.twitter.com/felttippin'} @felttippin
    .organizer
      %img{:src => 'http://a3.twimg.com/profile_images/66781061/pillowfactory_avatar_bigger.jpg'}
      %div
        %h3 Luke Pillow
        %a{:href=>'http://www.twitter.com/lpillow'} @lpillow

  .first

