---
title:      Schedule
created_at: 2010-06-08 19:39:55.416027 -05:00
filter:
  - haml
---
= render :partial => "navigation", :locals => {:current => 'schedule'}
              
#content.container
  #single-col{:style => 'padding-top:2.5em;padding-bottom:10em;'}
    %div{:class => 'buy_your_tickets buy_your_tickets_long'}
      %a{:target=>'_blank', :href=>'http://rubymidwest.stagehq.com/events/219/booking/new'} Buy your RubyMidwest tickets
    %br
    %h1.center Ruby Midwest Schedule
    %br 
    %table#schedule
      %tr
        %th{:colspan => '2'} Friday, July 16, 2010
        %th
        %th{:colspan => '2'} Saturday, July 17, 2010
      %tr
        %td.time 8:00 AM
        %td.title Registration & Breakfast
        %td{:rowspan => 50, :width => 60}
        %td.time 8:00 AM
        %td.title Breakfast
      %tr
        %td.time 9:00 AM
        %td.title Welcome to Ruby Midwest
        %td.time 9:00 AM
        %td.title Welcome Back
      %tr
        %td.time 9:15 AM
        %td 
          %p.title Keynote 
          %p.name Chris Wranstrath
        %td.time 9:15 AM
        %td 
          %p.title Keynote 
          %p.name Yehuda Katz
      %tr
        %td.time 10:00 AM
        %td.break Break
        %td.time 10:00 AM
        %td.break Break
      %tr
        %td.time 10:15 AM
        %td 
          %p.title Ruby Techniques By Example
          %p.name Jeremy Evans
        %td.time 10:15 AM
        %td 
          %p.title User Experience for Library Designers
          %p.name Wesley Beary
      %tr
        %td.time 10:45 AM
        %td.break Break
        %td.time 10:45 AM
        %td.break Break
      %tr
        %td.time 11:00 AM
        %td 
          %p.title JRuby
          %p.name Charles Nutter
        %td.time 11:00 AM
        %td 
          %p.title Practical Projects in Mongo DB
          %p.name Alex Sharp
      %tr
        %td.time 11:30 AM
        %td.break Break
        %td.time 11:30 AM
        %td.break Break
      %tr
        %td.time 11:45 AM
        %td 
          %p.title Civic Hacking
          %p.name Luigi Montanez
        %td.time 11:45 AM
        %td 
          %p.title Pragmatic Guide to Git 
          %p.name Travis Swicegood
      %tr
        %td.time 12:15 PM
        %td.break Lunch
        %td.time 12:15 PM
        %td.break Lunch
      %tr
        %td.time 1:15 PM
        %td 
          %p.title Migrating Legacy Data
          %p.name Patrick Crowley & Rob Kaufman
        %td.time 1:15 PM
        %td 
          %p.title Interoperable Web
          %p.name Michael Bleigh
      %tr
        %td.time 1:45 PM
        %td.break Break
        %td.time 1:45 PM
        %td.break Break
      %tr
        %td.time 2:00 PM
        %td 
          %p.title Object Oriented Unobtrusive CSS 
          %p.name John Hwang
        %td.time 2:00 PM
        %td 
          %p.title memprof
          %p.name Aman Gupta
      %tr
        %td.time 2:30 PM
        %td.break Break
        %td.time 2:30 PM
        %td.break Break
      %tr
        %td.time 2:45 PM
        %td 
          %p.title Integration Testing Strategies: Locally and on the Grid
          %p.name Ryan Felton and Kyle Ginaven
        %td.time 2:45 PM
        %td 
          %p.title Speedy Tests
          %p.name Jake Scruggs
      %tr
        %td.time 3:15 PM
        %td.break Break
        %td.time 3:15 PM
        %td.break Break  
      %tr
        %td.time 3:30 PM
        %td 
          %p.title Metawhat? A look into the mysterious metaclass
          %p.name Brandon Dimcheff
        %td.time 3:30 PM
        %td 
          %p.title jQuery and Rails, Sitting in a Tree
          %p.name Adam McCrea
      %tr
        %td.time 4:00 PM
        %td.break Break
        %td.time 4:00 PM
        %td.break Break
      %tr
        %td.time 4:15 PM
        %td 
          %p.title Redis Persistance Power
          %p.name Nick Quaranto
        %td.time 4:15 PM
        %td 
          %p.title A New Set Of Wheels: Leveraging Ruby For System Administration
          %p.name Josh French
      %tr
        %td.time 4:45 PM
        %td.break Break
        %td.time 4:45 PM
        %td.break Break
      %tr
        %td.time 5:00 PM
        %td 
          %p.title Chef - Cooking 101
          %p.name John Williams
        %td.time 5:00 PM
        %td 
          %p.title Zero to Hero
          %p.name Cory Flanigan
      %tr
        %td.time 5:30 PM
        %td.break Break
        %td.time 5:30 PM
        %td.title Closing of Ruby Midwest
      %tr
        %td 5:45 PM
        %td 
          %p.title Surviving the last 20%
          %p.name Mark Daggat
        %td
        %td
      %tr
        %td 6:15 
        %td.title Break For BBQ at 7:00 PM sponsored by Intridea
        %td
        %td      
      
