---
title:       Ruby Midwest Conference / July 16-17, 2010 / Kansas City, MO
created_at:  2008-08-02 14:06:40.000000 -06:00
filter:
  - erb
  - haml
---
#left-col.col-1.first{:style => 'padding-top:2.5em;'}
  #hotel
    %h2 Hotel
    %p
      %strong Kansas City Marriott Country Club Plaza
      %a{:target => '_blank', :href => 'http://www.marriott.com/hotels/travel/mcipl-kansas-city-marriott-country-club-plaza/?toDate=7/17/10&groupCode=rubruba&fromDate=7/15/10&app=resvlink'} (link)
      %br
      %strong 4445 Main Street
      %br
      %strong Kansas City, Missouri 64111
      %br
      %br
      %em The newly renovated Kansas City Marriott Country Club Plaza hotel overlooks the 
      %a{:target=>'_blank', :href=>'http://www.countryclubplaza.com/'} Country Club Plaza
      ; the sophisticated center of Kansas City's dining, shopping and cultural scene.
      %br
      %br
      As the "official" conference hotel, we have a special discounted rate of 
      %strong $99 per night 
      worked out for all reservations made on or before June 24, 2010. The hotel is also offering 
      %strong free parking and shuttle service 
      to the venue for conference guests.
      %br
      %br
      %strong Make your reservations
      %ul
        %li 
          Online: 
          %a{:target => '_blank', :href => 'http://www.marriott.com/hotels/travel/mcipl-kansas-city-marriott-country-club-plaza/?toDate=7/17/10&groupCode=rubruba&fromDate=7/15/10&app=resvlink'} Reservations  
        %li
          By Phone: 1-800-810-3708 (Ruby Midwest group)
      %em Let us know if the hotel is out of discounted rooms. We can probably add more rooms to the conference blocks.
  
  %br
  -# #travel
    -# %h2 Travel
    -# %ul
      -# %li
        -# %strong Planes:
        -# %a{:target=>'_blank', :href => 'http://www.flykci.com'} Kansas City International - MCI
      -# %li
        -# %strong Trains:
        -# %a{:target=>'_blank', :href => 'http://www.amtrak.com/servlet/ContentServer?c=am2Station&pagename=am%2Fam2Station%2FStation_Page&p=1237405732508&cid=1229726268773'} Amtrak
      -# %li
        -# %strong Automobiles:
        -# %ul
          -# %li 
            -# %a{:target=>'_blank', :href => 'http://maps.google.com/maps?f=d&source=s_d&saddr=Kansas+City+International+Airport,+Kansas+City,+MO+64153+(Kansas+City+International+Airport)&daddr=+4445+Main+Street+%23+Kansas+City,+Missouri+64111&hl=en&geocode=FUWiVwIdzsda-indTM6gC17AhzEU1vb398U7jQ%3B&mra=ls&sll=39.176255,-94.63655&sspn=0.324164,0.694199&ie=UTF8&z=11'} Airport to hotel
          -# %li 
            -# Airport to hotel via 
            -# %a{:target=>'_blank', :href => 'http://www.supershuttle.com/'} Shuttle 
            -# ($18 one way)
          -# %li 
            -# Your house to hotel - 
            -# %a{:blank=>'_blank', :href => 'http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=4445+Main+Street+%23+Kansas+City,+Missouri+64111&sll=39.046369,-94.583616&sspn=0.010149,0.021694&ie=UTF8&hq=&hnear=4445+Main+St,+Kansas+City,+Jackson,+Missouri+64111&ll=39.046952,-94.586642&spn=0.010149,0.021694&z=16'} Ask Google
    
-# = render :partial => "right_bar"

#right-col.col-1
  #travel
    %h2 Travel
    %ul
      %li
        %strong Planes:
        %a{:target=>'_blank', :href => 'http://www.flykci.com'} Kansas City International - MCI
        %ul
          %li 
            %a{:target=>'_blank', :href => 'http://maps.google.com/maps?f=d&source=s_d&saddr=Kansas+City+International+Airport,+Kansas+City,+MO+64153+(Kansas+City+International+Airport)&daddr=+4445+Main+Street+%23+Kansas+City,+Missouri+64111&hl=en&geocode=FUWiVwIdzsda-indTM6gC17AhzEU1vb398U7jQ%3B&mra=ls&sll=39.176255,-94.63655&sspn=0.324164,0.694199&ie=UTF8&z=11'} Airport to hotel
          %li 
            Airport to hotel via 
            %a{:target=>'_blank', :href => 'http://www.supershuttle.com/'} Shuttle 
            ($18 one way)

      %li
        %strong Trains:
        %a{:target=>'_blank', :href => 'http://www.amtrak.com/servlet/ContentServer?c=am2Station&pagename=am%2Fam2Station%2FStation_Page&p=1237405732508&cid=1229726268773'} Amtrak
      %li
        %strong Automobiles:
        %a{:blank=>'_blank', :href => 'http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=4445+Main+Street+%23+Kansas+City,+Missouri+64111&sll=39.046369,-94.583616&sspn=0.010149,0.021694&ie=UTF8&hq=&hnear=4445+Main+St,+Kansas+City,+Jackson,+Missouri+64111&ll=39.046952,-94.586642&spn=0.010149,0.021694&z=16'} Ask Google

  #location
    %h2 Venue
    %p
      %strong University of Missouri, Kansas City, Pierson Auditorium
      %br
      5100 Rockhill Rd.
      %br
      Kansas City, MO 64110

    %iframe{ :scrolling => "no", :marginheight => "0", :marginwidth => "0", :src => "http://www.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=5000+Holmes,+Kansas+City,+Missouri-64110&amp;sll=37.0625,-95.677068&amp;sspn=53.167773,78.75&amp;ie=UTF8&amp;hq=&amp;hnear=5000+Holmes+St,+Kansas+City,+Jackson,+Missouri+64110&amp;ll=39.03732,-94.575977&amp;spn=0.012,0.036993&amp;z=14&amp;output=embed", :frameborder => "0", :height => "180", :width => "430" }
    %br
    %small
      %a{ :href => "http://www.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=5000+Holmes,+Kansas+City,+Missouri-64110&amp;sll=37.0625,-95.677068&amp;sspn=53.167773,78.75&amp;ie=UTF8&amp;hq=&amp;hnear=5000+Holmes+St,+Kansas+City,+Jackson,+Missouri+64110&amp;ll=39.03732,-94.575977&amp;spn=0.012,0.036993&amp;z=14", :style => "color:#0000FF;text-align:left" }
        View Larger Map

.first

