---
title:      Upcoming Conferences
created_at: 2010-06-08 19:39:55.416027 -05:00
filter: 
  - haml
---
= render :partial => "navigation", :locals => {:current => ''}

#content.container
  #single-col{:style => 'padding-top:2.5em;padding-bottom:10em;'}
    / %div{:class => 'buy_your_tickets'}
    /   %a{:target=>'_blank', :href=>'http://rubymidwest.stagehq.com/events/219/booking/new'} Buy your tickets
    / %br
  
    .conferenceMap
      %h2.first.center Upcoming 2010 Ruby Conferences
      %br
      #map_canvas{:style=>"width:500px; height:350px;"}
      #conferenceList
    /   %p
    /     %div{:class => 'buy_your_tickets buy_your_tickets_long'}
    /       %a{:target=>'_blank', :href=>'http://rubymidwest.stagehq.com/events/219/booking/new'} Buy your RubyMidwest tickets
    .clear-fix
    
    