/* @override http://localhost:4331/css/site.css */


body {
  margin: 0;
  font-family:
  	"Bookman Old Style",
    "Serifa BT",
    "URW Bookman L",
    "itc bookman";
  color: #232827;
  font-size: 16px;
  background: #446956;
}

#speakers li {
  margin: 1em 0;
}
#master {
  background: url(../images/bg.jpg);  
  padding: 20px 0 0 0;
}
h1, h2, h3, h4 {
  margin: .3em 0;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.3em;
}
h5 {
  font-size: 1em;
  text-transform: uppercase;
}
p {
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a img {
  border: none;
}

#left-col {
  padding-bottom: 25px;
}

#welcome p {
  font-style: italic;
  color: #444;
}

#nav ul {
  font-weight: bold;
  background: rgba(67,112,131,0.34);
  position: relative;
  z-index: 500;
  float: right;
  padding: 0 10px 5px 10px;
  margin: 0 20px 0 0;
  -webkit-border-bottom-left-radius:6px;
  -webkit-border-bottom-right-radius:6px;  
  -moz-border-radius-bottomleft:6px;
  -moz-border-radius-bottomright:6px;
}

#nav ul li {
  list-style: none;
  display: inline-block;
}

#nav ul li a {
  display: block;
  padding: 5px;  
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  text-shadow: #556e74 0 2px 1px;
  position: relative;
  top: -1px;
}
#nav ul li a:hover {
  top: 0;
  text-decoration: none;
  color: #c2e9ed;
  background-color: rgba(0,0,0,.1);
  text-shadow: none;  
  -webkit-transition-porperty: top, color, background-color, text-shadow;
  -webkit-transition-duration: .1s;     
}

h1#rmw a {
  display: block;
  position: relative;
  z-index: 100;
  width: 772px;
  height: 329px;
  margin: 0 auto;
  background: url(../images/logo.png) no-repeat;
  text-indent: -999em;
}
#speakers #you {
  background: rgba(0,0,0,.3);
}
#speakers .speakerLink, a#you {
  display: inline-block;
  width: 66px;
  height: 80px;  
  padding: 5px;
  text-decoration: none;
}
#speakers .speakerLink img {
  opacity: .7;
  -webkit-transition: opacity .5s linear;    
}
#speakers .speakerLink.active, #you {
  background: rgba(67,112,131,0.34);
  -webkit-border-top-left-radius:4px;
  -webkit-border-top-right-radius:4px;  
  -moz-border-radius-topleft:4px;
  -moz-border-radius-topright:4px;
}
#speakers .speakerLink.active img, #speakers .speakerLink:hover img {
  opacity: 1;
  -webkit-transition: opacity .5s linear;    
}
#speakers .content {
  color: #333;
  background: rgba(67,112,131,0.34);
  padding: 10px;
  -webkit-border-bottom-right-radius:4px; 
  -webkit-border-top-right-radius:4px;    
  -webkit-border-bottom-left-radius:4px;  
  -moz-border-radius-topright:4px;  
  -moz-border-radius-bottomright:4px;
  -moz-border-radius-bottomleft:4px;
}
#speakers h5.name {
  margin: 0;
}
#speakers .desc p {
  font-size: .9em;
}

.speaker .mugshot {
  float: left;
  margin-right: 10px;
  clear: both;
}
.speaker {
  clear: both;
  margin: 10px 0;
}

#speakers .tip {
  position: absolute;
  z-index: 100;
  background: rgba(0,0,0,.7);
  border: 4px solid rgba(256,256,256,.8);
  -webkit-border-radius:4px;
-moz-border-radius:4px;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  margin-top: -3em;
  margin-left: -.5em;
  -webkit-box-shadow:0 0 10px #000;
  -moz-box-shadow:0 0 10px #000;  
}

#agenda table {
  width: 100%;
}
#agenda table h5 {
  margin: .5em 0 0 0;
  font-weight: normal;
  font-size: .9em;
}
#agenda table td {
  padding: 5px 0;
}

span.time {
  text-transform: uppercase;
  font-size: .8em;
  color: #647471;
}

div.section {
  /*border-bottom: 2px solid #7cadbd;*/
  /*padding-bottom: 10px;*/
  margin-bottom: 25px;
}

#location {
  padding-top: 20px;
}
#location iframe {
  border: 4px solid rgba(67,112,131,0.34);
}

.buy_your_tickets {
  float: right;
  padding: 20px;
}

.buy_your_tickets a, .buy_your_tickets a:hover {
  background: url("/images/button/buy-your-tickets.gif") no-repeat scroll 0 0 transparent;
  color: #FFFFFF;
  display: block;
  font-size: 1.1em;
  line-height: 45px;
  padding-left: 50px;
  width: 162px;
}

#info {
  margin-top: 20px;
}
#info input#email {
  font-size: 1.3em;
  width: 200px;
  margin-right: 0;
  border: 4px solid rgba(67,112,131,.7);  
  font-style: normal;
}
#info input#submit {
  background: none;
  border: none;
  color: #9d182f;
  padding: 0;
  font-family:
  	"Bookman Old Style",
    "Serifa BT",
    "URW Bookman L",
    "itc bookman";
    font-size: 1.5em;
    font-weight: bold;
  font-style: normal;    
}

#lower {  
  border-top: 10px solid rgba(67,112,131,0.34);
  padding: 0;
  margin: -50px 0 0 0;
  background: rgba(256,256,256,.3);
}
#pasture {
  padding: 10px;
  background: #456a57 url(../images/grassline.png) repeat-x;
}
#footer {
  margin-top: -164px;
  background:url(../images/footer.png) no-repeat center top;	
  padding: 1px;
}

#footer .container {
  margin-top: 180px;
  padding-bottom: 70px;
}
#footer img {
  margin: 0 5px;
}
#footer img#red {
  vertical-align: middle;
}
#credits {
  text-align: right;
  padding-right: 50px;
}
#right-col {
  padding-top: 1.5em;
  padding-bottom: 160px;
}

#speakers li h4 {
  color: #fff;
  font-weight: normal;
  font-size: 1.2em;
  margin: 0; 
}

#speakers h4, #agenda table{
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;   
}

#speakers p {
  margin: .3em 0;
  font-size: .9em;
}

#info a {
  color: #333;
}
#info a:hover {
  text-decoration: none;
}
#info a:hover span.username {
  text-decoration: underline;
}
#info a img {
  vertical-align: middle;
}

#sponsors img{
  margin-right: 5px;
}
/*#footer {

  height: 300px;
}*/
